*{
margin: 0;
padding: 0;
}


body{
    background-color: #fff9e2;
    background-image:url("../img/symphony.png") ;

}
header{
    height: 500px;
    background-color:#fff9e2;
    background-image: url("../img/header-bg.jpg");
    border-bottom:solid 1px rgba(62,62,62 ,0.85) ;
}

header h1{
    padding-top: 230px;


    font-family: monospace,cursive,;
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
}

header .lead{
    font-family: monospace,cursive,;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: -25px;
}

.navbar{
    height: 65px;
    background-color:rgba(32, 47, 55, 0.85);
    border-bottom:solid 1px rgba(62,62,62 ,0.85) ;
}

.navbar li{
    display: inline;

    font-family: monospace,cursive,;
    color: white;
    font-size: 20px;
    padding:0 80px ;
    text-align: center;

}

.navbar ul{
    padding-top: 12px;
    text-align: center;

}
.post{
    width: 1000px;
    margin: 20px auto 30px;
    border: solid 1px rgb(143, 143, 143, 0.43);
    background-color: white;

    font-family: Georgia,sans-serif;


}
.post header{
    margin-top: 10px;
}
.post-header h3{
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(143, 143, 143, 0.43) ;

    font-family: monospace,cursive,;
    color: white;
    font-size: 20px;
    color:#22272d ;
}

.post-header img{
    margin-top: 20px;
    width: 999px;
    padding-bottom: 10px;
}

.post-header .subtitulo{
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(143, 143, 143, 0.43) ;
    text-align: right;
    font-style: italic;
    font-size: 14px;

}
.post-body{
    padding-top: 20px;
    padding-bottom: 20px;

}
.post-body p{
    margin: 7px 0;
}

footer{
    background-color: #22272d;

    color: white;
    font-family: Georgia,sans-serif; ;
}

footer h4{
    padding-top: 10px;
    font-family: monospace,cursive,;
    text-align: center;
    font-size: 28px;

}